<div class="w-full h-full flex">
  <div class="mx-auto my-auto">
    <div class="grid grid-cols-2 gap-8">
      <a class="bg-white rounded-xl shadow w-[200px] h-[200px] hover:bg-blue-300 transition-colors flex flex-col justify-center items-center" routerLink="/lab/1">
        <span class="text-base">Лабораторная работа</span>
        <span class="text-2xl"> №1</span>
      </a>
      <a class="bg-white rounded-xl shadow w-[200px] h-[200px] hover:bg-blue-300 transition-colors flex flex-col justify-center items-center" routerLink="/lab/2">
        <span class="text-base">Лабораторная работа</span>
        <span class="text-2xl"> №2</span>
      </a>
    </div>
    <div class="mt-8 w-full shadow bg-white rounded-xl px-4 py-4">
      <h2>Выполнил студент гр. 224-321 Гайдучик Александр</h2>
    </div>
  </div>
</div>
